@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header div {
  display: flex;
}

header div img {
  width: 90.6px;
  height: 26.9px;
  margin: 36.1px 122.4px 30px 231px;
}

header div a.other-links {
  font-size: 16px;
  color: #111111;
  margin: 38px 30px 36px 0;
  text-decoration: none;
}

header div a.bold-link {
  font-weight: 700;
}

footer div {
  height: 62px;
  background: #eeeeee;
}

footer div p {
  font-size: 14px;
  color: #999999;
  padding: 23px 0 23px 0;
  text-align: center;
}