@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
    padding: 0;
  }
}

/* HEADER PAGE */

header {
  width: 100%;
  padding: 30px;
}

.menu {
  display: flex;
  align-items: center;
}

.brand img {
  display: block;
}

.links {
  margin-left: 100px;
}

.links a {
  text-decoration: none;
  padding: 14px 16px;
  font-size: 15px;
  color: #111111;
}

.links a:hover {
  color: #999999;  
  transition: .5s;
}

.bold-link {
  font-weight: 700;
}

/* FOOTER PAGE */

footer {
  height: 62px;
  background: #eeeeee;
  margin-top: 50px;
}

footer p {
  font-size: 14px;
  color: #999999;
  padding: 23px 0;
  text-align: center;
}

/* INDEX PAGE */

.banner {
  background: #FBDFDB;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-banner {
  max-width: 30%;
  margin: 0 auto;
}

.text-banner h1 {
  font-weight: 700;
  font-size: 32px;
  color: #111111;
  margin-bottom: 10px;
}

.text-banner p {
  opacity: 0.7;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}

.img-banner {
  margin: 66px auto 0;
}

@media (max-width: 576px) {
  .img-banner {
    display: none;
  }

  .text-banner {
    max-width: 50%;
    padding: 30px;
  }

}

/* ABOUT PAGE */
.content-about h1 {
  font-size: 24px;
  line-height:  34px;
  color: #111111;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-about h2 {
  font-size: 20px;
  color: #111111;
  margin-bottom: 20px;
}

.content-about p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 30px
}

/* CARDS */

#most-accessed-title {
  margin-top: 50px;
}

.cards .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;  
}

.cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; 
}

.image-card img {
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.title-card {
  margin-top: 20px;
}

.title-card h3 {
  font-size: 18px;
  color: #111111;
  margin-bottom: 0px;
  font-weight: 400;
}

.info-card p {
  font-size: 14px;
  color: #777777;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* MODAL */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: white;
  width: 660px;
  height: 413px;
  margin: 20vh auto;
  position: relative;
  border-radius: 16px 16px;
}

.image-modal img {
  flex: 1;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 200px;
  margin: 30px 30px 0;
  border-radius: 15px;
}

.title-modal {
  margin-top: 20px;
}

.title-modal h3 {
  font-size: 24px;
  color: #111111;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 400;
}

.info-modal p {
  font-size: 18px;
  color: #777777;
  margin-top: 5px;
  margin-bottom: 60px;
  text-align: center;
}

.close-modal {
  font-size: 16px;
  color: #999999;
  cursor: pointer;
  text-decoration: none;
  margin: auto;
}

.btn-close {
  display: flex;
}